workflow/fastq_merged/
workflow/GRCh38/
workflow/GRCh38 (Selective Sync Conflict)/
previous_backup/
config/mthfr_backup.list
workflow/calls/
workflow/GRCh38_chr1/
humandb/
.snakemake/
.gitignore
DNA_variant_calling_GATK_Snakemake.code
mthfr_backup.list
results_mapdamage/
marked_dedup/
workflow/angsdput.mafs
GUI_screenshots/
workflow/bam
calls/
calls_previous_pipeline_version/
calls_preliminary_results_mapping_CHR1/
calls_final_version/
calls_bam_mem/
calls_pmd_t2/
calls_pmd_t3/
atlas/